  <mat-toolbar>
    <button mat-button [routerLink] = "['his']" routerLinkActive = "active" aria-label="Example icon-button with menu icon">
      HIS
    </button>
    <button mat-button [routerLink] = "['login']" routerLinkActive = "active" aria-label="Example icon-button with menu icon">
      Login
    </button>
    <button mat-button [routerLink] = "['register']" routerLinkActive = "active" aria-label="Example icon-button with menu icon">
      Registrar
    </button>
    <button mat-button [routerLink] = "['crud']" routerLinkActive = "active" aria-label="Example icon-button with menu icon">
      Gestionar
    </button>
  </mat-toolbar>

<router-outlet></router-outlet>
